<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSAppleMusicUsageDescription</key>
		<string>Tracks the current Apple Music song and updates instantly to share what you're listening to with your Twitch community</string>
		<key>NSAppleEventsUsageDescription</key>
		<string>Allows PackTrack to control Apple Music via AppleScript so it can read the current track you are playing.</string>
		<key>com.apple.security.app-sandbox</key>
		<true/>
		<key>com.apple.security.scripting-targets</key>
		<dict>
			<key>Item 0</key>
			<string>com.apple.Music</string>
		</dict>
		<key>com.apple.security.temporary-exception.apple-events</key>
		<array>
			<string>com.apple.Music</string>
		</array>
	</dict>
</plist>
